ion-view(hide-nav-bar="true" ng-controller="liveCtrl")
    ion-side-menus.live
        ion-side-menu(side="left")
            ion-header-bar.bar-light
                .buttons
                h1.title &nbsp;
                .buttons
                    button.button-clear.icon.ion-ios-arrow-right(menu-close="")
            ion-content
                button.button.button-large.icon.ion-ios-refresh-outline
                p Hello
                h1.title Filtrer les catégories
                h1.title Période
                .item.item-divider Candy Bars
                a.item(href="#") Butterfinger
                .item.range.range-positive
                    i.icon.ion-ios-sunny-outline
                    input(type="range" name="volume" min="0" max="100" value="33")
                    i.icon.ion-ios-sunny
            ion-footer-bar.bar-stable
                .buttons
                    button.button(ng-click="logout()") Restaurer
                h1.title &nbsp;
                .buttons
                    button.button(ng-click="logout()") Sauvegarder
        ion-side-menu(side="right")
            ion-header-bar.bar-light
                .buttons
                    button.button-clear.icon.ion-ios-arrow-left(menu-close="")
                h1.title &nbsp;
                .buttons
                    button.button-clear Éditer
            header.image
                img(src='assets/images/circle_rocketx2.png')
                i.icon.ion-chevron-down
            .list.list-inset
                button.button.button-block.icon.icon-person Check mail
                a.item.item-icon-left
                    | Check mail
                    i.icon.ion-email
                a.item.item-icon-left
                    | Check mail
                    i.icon.ion-email
            ion-footer-bar.bar-assertive
                h1.title &nbsp;
                .buttons
                    button.button(ng-click="logout()") Se déconnecter
        ion-side-menu-content
            ion-header-bar.bar-light
                .buttons
                    button.button-clear.icon.ion-ios-settings(menu-toggle="left")
                h1.title &nbsp;
                .buttons
                    button.button-clear.icon.ion-ios-person-outline(menu-toggle="right")
            header
                .list.list-inset
                    .item.item-input
                        i.icon.ion-search.placeholder-icon
                        input(type="text" placeholder="Search")
            section
                row
                    form(ng-submit='save()', name='form', novalidate='')
                        .list
                            label.item.item-input
                                input(type='text', placeholder='Name', ng-model='newThing.name')
                        button.button.button-block.button-positive(type='submit') Add
                    .list
                        .item.item-button-right(ng-repeat='thing in things')
                            p {{ thing.name }}
                            button.button.button-clear(ng-click='remove(thing)')
                                i.icon.ion-star.energized
                    p Total number of things: {{ things.length }}
