//noinspection CssUnknownTarget
@import "{}/client/_vars.scss";

.signup {
  section {
    text-align: left;

    .icon.error {
      color : red;
    }

    padding: 0;
    form {
      padding: 0 60px;
    }
  }
}
